#main-container {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  height: 900px;
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#item-data {
  width: 400px;
  height: 300px;
}

.title-txt {
  font-size: 20px;
}

.condition {
  color: gray;
  font-size: 13px;
}

.description {
  font-size: 20px;
  height: 200px;
  width: 800px;
  text-align: left;
}

.condition {
  color: gray;
  font-size: 15px;
}

img {
  margin: 70px;
}

button {
  width: 80px;
  height: 36px;
  background-color: aliceblue;
}